// Basic theme properties
.wall_popup
  color:            #fff
  box-shadow:       1px 1px 10px #666
  text-shadow:      1px 1px 3px #666
  background-color: #000
  font-family:      Arial
  margin:           0

// Popup zone properties
.wall_popup_zone
  margin:          0

// Popup style
.wall_popup
  border:          3px solid #fff
  margin-bottom:   10px
  padding:         10px

.wall_popup

  .title
    margin:        0
    padding-right: 30px

  .body
    margin:        5px

  .close
    display:       none

// if pushed popup_class is 'important'.
.wall_popup.important, .item.important
  background-color: #b00

// History is disabled
.wall_toggle, .wall_history
  display:         none
  color:           transparent
